@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../fonts/HelveticaNeueLight.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('../fonts/HelveticaNeue.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lobster';
    src: url('../fonts/lobster.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}
.compensate-for-scrollbar{
    margin-right: 0 !important;
}

html,
body {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.partners-wrap{
    background-image: url("../img/bacground-partners.png");
    background-position: 0 -300px;
}
.partners-wrap .partners {
    margin-bottom: 0;
    width: 100%;
}
.bg-wrapp{
    background-image: url("../img/bg.jpg");
    background-image: url("../img/bg.webp");
}
.contact-wrap{
    background-image: url("../img/bacground-contact.png");
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.content {
    padding-bottom: 217px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 217px;
}

.container {
    max-width: 1440px;
}

footer .container {
    position: relative;
}

.clear {
    clear: both;
}


/*Шапка сайта*/

header,
.large{
    height: 73px;
    z-index: 5;
    background: rgb(21,151,169);
    background: linear-gradient(0deg, rgba(21,151,169,1) 0%, rgba(8,112,189,1) 100%);
    float: left;
    width: 100%;
    position: fixed;
    top: 0;
}

header.small{
    height: 51px;
}

header .logo {
    width: 240px;
    margin-left: 60px;
    line-height: 63px;
    float: left;
    text-align: center;
}

header.small .logo{
    line-height: 50px;
}
header.small .menu__btn{
    top: 14px;
}
header.small .logo img{
    height: 38px;
}

header .logo img {
    display: inline-block;
    height: 58px;
}


/*Верхнее меню*/

header nav {
    display: inline-block;
    height: 100%;
    line-height: 73px;
    margin-left: 79px;
}

header.small nav{
    line-height: 50px;
}

header nav ul:after {
    content: "";
    display: table;
    clear: both;
}

header nav ul {
    list-style: none;
    height: 100%;
    margin-bottom: 0;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    font-family: 'HelveticaNeueLight';
    color: #fff;
    font-size: 24px;
    height: auto;
    display: block;
    padding: 0 28px;
    line-height: 73px;
}

header.small nav ul li a{
    line-height: 50px;
}

header nav ul li a:hover,
header nav ul li.active{
    color: #0870bd;
    text-decoration: none;
    background-color: #fff;
}

header nav ul li.active a{
    color: #0870bd;
}

.submenu {
    position: absolute;
    z-index: 5;
    min-width: 200px;
    background-color: #1597a9;
    visibility: hidden;
    height: auto;
    opacity: 0;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .3s linear;
}

.submenu li {
    display: block;
    position: relative;
    height: auto;
}

.submenu li a {
    height: auto;
    color: #fff;
    line-height: 47px;
}
header nav ul li.active .submenu a{
    color: #fff;
}
header nav ul li.active .submenu a:hover{
    color: #0870bd;
}

nav li.level:hover>.submenu {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
}


/* скрываем чекбокс */

#menu__toggle {
    opacity: 0;
    display: none;
}


/* стилизуем кнопку */

.menu__btn {
    display: none;
    /* используем flex для центрирования содержимого */
    align-items: center;
    /* центрируем содержимое кнопки */
    position: absolute;
    top: 26px;
    right: 22px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.level svg {
    display: none;
}


/* добавляем "гамбургер" */

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}


/* элементы меню */

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
    background-color: #000;
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
    background-color: #000;
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #000;
}

#menu__toggle:checked~.topmenu {
    visibility: visible;
    right: 0;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    transition-duration: .25s;
}

.menu__box {
    transition-duration: .25s;
}

.menu__item {
    transition-duration: .25s;
}


/*Вверхний слайдер*/

section.slider-wrap {
    position: relative;
    -webkit-box-shadow: 0px 9px 18px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 18px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 18px -9px rgba(0, 0, 0, 0.75);
}

.slider-wrap .owl-prev:before {
    content: "";
    background-image: url(../img/left.png);
    width: 33px;
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 80px;
}


.rewievs-wrap .owl-prev:before,
.rewievs-wrap .owl-next:before{
    margin-top: 7px;
}

.slider-wrap .owl-next:before {
    content: "";
    background-image: url(../img/right.png);
    width: 33px;
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    right: 80px;
}

.tab .owl-next:before,
.tab .owl-prev:before{
    top: 35%;
}

.rewievs-wrap .owl-next:before,
.rewievs-wrap .owl-prev:before{
    top: 53%;
}

.partners .owl-next:before,
.partners .owl-prev:before{
    top: 18%;
}

.slider-wrap .owl-nav {
    height: 0;
}

.owlItem {
    position: relative;
    height: 700px;
    z-index: -1;
    background-size: cover;
}

.owlItem .section-tovar{
    position: absolute;
    width: 251px;
    top: 109px;
}

.owlItem .section-tovar img{
    width: 95%;
    display: block;
    margin-bottom: 6px;
    transition: all 1s;
}

.golden-table li{
    font-size: 18px;
    color: #000000;
    font-family: Helvetica;
}

.golden-table.new li,
.golden-table.new p {
    font-size: 16px;
}

.owlItem .section-tovar a{
    font-size: 61px;
    display: block;
    font-family: "HelveticaNeue";
    color: #696867;
    font-weight: bold;
    line-height: 1.2;
    transition: all 1s;
    margin-left:64px;
    text-transform: uppercase;
    text-align: left;
    text-shadow:
            -0   -2px 0   #fff,
            0   -2px 0   #fff,
            -0    2px 0   #fff,
            0    2px 0   #fff,
            -2px -0   0   #fff,
            2px -0   0   #fff,
            -2px  0   0   #fff,
            2px  0   0   #fff,
            -1px -2px 0   #fff,
            1px -2px 0   #fff,
            -1px  2px 0   #fff,
            1px  2px 0   #fff,
            -2px -1px 0   #fff,
            2px -1px 0   #fff,
            -2px  1px 0   #fff,
            2px  1px 0   #fff,
            -2px -2px 0   #fff,
            2px -2px 0   #fff,
            -2px  2px 0   #fff,
            2px  2px 0   #fff,
            -2px -2px 0   #fff,
            2px -2px 0   #fff,
            -2px  2px 0   #fff,
            2px  2px 0   #fff;
}

.text-left{
    position: absolute;
    width: 300px;
    top: 234px;
    float: right;
    right: 342px;
    transition: all 1s;
}

.left .text-left{
    left: -780px;
    opacity: 0;
}

.left .text-left.active{
    left: 280px;
    opacity: 1;
}
.right .text-left {
    right: -500px;
    opacity: 0;
}

.right .text-left.active{
    right: 342px;
    opacity: 1;
}

.text-left p{
    font-size: 65px;
    font-family: 'Lobster';
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    text-shadow:
            -0   -2px 0   #0870BD,
            0   -2px 0   #0870BD,
            -0    2px 0   #0870BD,
            0    2px 0   #0870BD,
            -2px -0   0   #0870BD,
            2px -0   0   #0870BD,
            -2px  0   0   #0870BD,
            2px  0   0   #0870BD,
            -1px -2px 0   #0870BD,
            1px -2px 0   #0870BD,
            -1px  2px 0   #0870BD,
            1px  2px 0   #0870BD,
            -2px -1px 0   #0870BD,
            2px -1px 0   #0870BD,
            -2px  1px 0   #0870BD,
            2px  1px 0   #0870BD,
            -2px -2px 0   #0870BD,
            2px -2px 0   #0870BD,
            -2px  2px 0   #0870BD,
            2px  2px 0   #0870BD,
            -2px -2px 0   #0870BD,
            2px -2px 0   #0870BD,
            -2px  2px 0   #0870BD,
            2px  2px 0   #0870BD;
}

.catalog .text-left p{
    font-size: 72px;
    text-shadow:4px 5px 0px #464646;
}
.owlItem .section-tovar img.hide, .owlItem a.hide, .owlItem .text-left.hide{
    opacity: 0;
    visibility: hidden;
    transition: 1s linear;
}

.owlItem .section-tovar img.hide,
.owlItem a.hide{
    margin-left: -200px;
}

.owlItem .section-tovar img,
.owlItem a{
    margin-left: 62px;
}


/*Товары на главной*/

.goodsItem-wrap {
    padding-top: 25px;
    background-size: cover;
}

.goodsItem {
    height: 646px;
    border-radius: 14px;
    padding: 32px 30px 0 44px;
    text-align: center;
    /*border: 2px solid #0870bd;*/
    margin: 100px 0 40.5px 54px;
    opacity: 0;
    transition: 1s linear;
}

.goodsItem.active{
    opacity: 1;
    margin-top: 0;
}

.goodsItem a.title:after {
    content: "";
    position: absolute;
    right: 5px;
    bottom: 13px;
}

.goodsItem.one a.title:after {
    border: 10px solid transparent;
    border-right: 10px solid #2c216d;
    border-bottom: 10px solid #2c216d;
}

.goodsItem.two a.title:after {
    border: 10px solid transparent;
    border-right: 10px solid #f6c53e;
    border-bottom: 10px solid #f6c53e;
}

.goodsItem.three a.title:after {
    border: 10px solid transparent;
    border-right: 10px solid #c4167a;
    border-bottom: 10px solid #c4167a;
}

.goodsItem img {
    margin-bottom: 28px;
    margin-right: 29px;
    display: inline-block;
}

.goodsItem a.title {
    font-size: 57px;
    color: rgb(125, 124, 124);
    font-weight: bold;
    text-align: left;
    position: relative;
    text-transform: uppercase;
    display: block;
    line-height: 1.2;
    font-family: 'HelveticaNeue';
}

.goodsItem a.title:hover {
    text-decoration: none;
}

.goodsItem-wrap .title {
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'HelveticaNeue';
    line-height: 1.2;
    text-align: center;
    color: #0870bd;
    font-weight: bold;
    margin-bottom: -5px;
}


/*Аккордеон*/

.tabs {
    position: relative;
    text-align: center;
    padding-bottom: 20px;
}

.tab,
.tab-title {
    display: inline-block;
    width: 150px;
    height: 120px;
}

.tab input[type="radio"] {
    display: none;
}

.tab-content {
    position: absolute;
    border-top: 9px solid #01c5e0;
    border-bottom: 5px solid #01c5e0;
    padding: 20px 10px 20px;
    left: 0;
    width: 100%;
    background-image: url(../img/bg2.png);
    background-image: url(../img/bg2.webp);
    display: none;
    text-align: justify;
    background-size: cover;
    line-height: 0;
    font-size: 1px;
    text-justify: newspaper;
    zoom: 1;
    text-align-last: justify;
    /*-webkit-box-shadow: 0px 9px 18px -9px rgba(0, 0, 0, 0.75), 0px 9px 18px -9px rgba(0, 0, 0, 0.75);*/
    /*-moz-box-shadow: 0px 9px 18px -9px rgba(0, 0, 0, 0.75), 0px 9px 18px -9px rgba(0, 0, 0, 0.75);*/
    /*box-shadow: 0px 9px 18px -9px rgba(0, 0, 0, 0.75), 0px 9px 18px -9px rgba(0, 0, 0, 0.75);*/
    /*-webkit-box-shadow: inset 0px -57px 78px -38px rgba(136, 58, 175, 1), 0px 9px 18px -9px rgba(0, 0, 0, 0.75);*/
    /*-moz-box-shadow: inset 0px -57px 78px -38px rgba(136, 58, 175, 1), 0px 9px 18px -9px rgba(0, 0, 0, 0.75);*/
    /*box-shadow: inset 0px -57px 78px -38px rgba(136, 58, 175, 1), 0px 9px 18px -9px rgba(0, 0, 0, 0.75);*/
}

.img-responsive{
    width: 100%;
    height: auto;
}

.tab-content .owl-carousel .owl-item img{
    width: 100%;
}

.rewievsItems {
    width: 100%;
    text-align: justify;
    background-size: cover;
    line-height: 0;
    font-size: 1px;
    text-justify: newspaper;
    zoom: 1;
}

.tab-content:after,
.rewievsItems:after {
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    content: "";
    display: inline-block;
}

.tabs .container .tab:first-child {
    margin-right: -20px;
}

.tabs .container .tab:last-child {
    margin-left: -20px;
}

.tab :checked~.tab-content {
    display: block;
}

.tab-title {
    height: 93px;
    width: 93px;
    top: 23px;
    border-radius: 50%;
    margin: 28px;
    border: 1px solid #0870bd;
    background-repeat: no-repeat;
}

.tab-title.one {
    background-image: url(../img/img1.png);
    background-position: 13px 12px;
    display: block;
    margin-right: -53px;
}

.tab-title.two {
    background-image: url(../img/img2.png);
    background-position: 24px 12px;
    display: block;
    top: 19px;
    margin-top: 22px;
    right: -21px;
}

.tab-title.three {
    background-image: url(../img/img3.png);
    background-position: 35px 11px;
    display: block;
    top: 19px;
    margin-top: 22px;
    right: -21px;
}

.tab-title{
    cursor: pointer;
}

.tab :checked+.tab-title.one {
    background-image: url(../img/img1h.png);
    width: 150px;
    height: 120px;
    position: relative;
    border: none;
    border-radius: 0;
    background-position: 0 0;
    margin-right: 0;
    height: 120px;
    z-index: 1;
    margin: 0px 0 16px 0px;
}

.tab :checked+.tab-title.two {
    background-image: url(../img/img2h.png);
    width: 150px;
    height: 120px;
    position: relative;
    background-position: 0 0;
    border: none;
    border-radius: 0;
    height: 120px;
    z-index: 1;
    margin: 0px 0 16px 0px;
    right: 0;
}

.tab :checked+.tab-title.three {
    background-image: url(../img/img3h.png);
    width: 150px;
    height: 120px;
    position: relative;
    background-position: 0 0;
    border: none;
    border-radius: 0;
    height: 120px;
    z-index: 1;
    margin: 0px 0 16px 0px;
    right: 0;
}

.tadItem {
    vertical-align: top;
    opacity: 0;
    transition: 1s linear;
}

.tadItem.hide{
    opacity: 0;
}

.tadItem.active{
    opacity: 1;
    margin-top: 0;
}
.dog-produkt-wrap .goodsItem-produkt.hide,
.cat-produkt-wrap .goodsItem-produkt.hide{
    opacity: 0;
    transition: 1s linear;
}
.dog-produkt-wrap .goodsItem-produkt{
    opacity: 1;
    transition: 1s linear;
    margin-bottom: 110px;
    width: 19%;
    display: inline-block;
}
.dog-produkt-wrap .goodsItem-produkt.six{
    width: 24%;
}
.cat-produkt-wrap .goodsItem-produkt {
    opacity: 1;
    transition: 1s linear;
    margin-bottom: 110px;
}
.table-end-text dl, .table-end-text ol, .table-end-text ul {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 20px;
}


/*Отзывы на главной*/

.rewievs-wrap {
    margin-top: 260px;
    padding-top: 86px;
    padding-bottom: 86px;
    background-color: #fff;
}

.partners-wrap .rewievs-wrap{
    background-color: transparent;
}

.blue-title {
    font-size: 30px;
    color: rgb(0, 151, 237);
    font-weight: bold;
    font-family: 'HelveticaNeue';
    line-height: 1.2;
    text-align: center;
}

.rewievsItem{
    margin: 80px auto 0;
    width: 376px;
    text-align: center;
    display: block;
    vertical-align: top;
}

/*.rewievsItem.first{*/
/*    margin-left: 0;*/
/*}*/

/*.rewievsItem.last{*/
/*    margin-right: 0;*/
/*}*/

.rewievsItem div {
    font-family: 'HelveticaNeue';
    font-size: 18px;
    color: rgb(125, 124, 124);
    text-align: center;
    display: block;
    line-height: 1.2;
    border: 5px solid #00bbd5;
    border-radius: 30px;
    padding: 51px 20px 18px;
    margin-top: -42px;
    position: relative;
    z-index: -1;
}

.owl-carousel .owl-item .rewievsItem img {
    margin-top: -46px;
    display: inline-block;
    width: auto;
}

.video-rewievs-wrap {
    margin-bottom: 55px;
}

.video-rewievs-wrap .video-rewies-text {
    background: rgb(21,151,169);
    background: linear-gradient(0deg, rgba(21,151,169,1) 0%, rgba(8,112,189,1) 100%);
    border-radius: 15px;
    padding: 24px 22px 6px;
    width: 488px;
    float: left;
    margin-left: 15px;
    margin-right: 30px;
}

.video-rewievs-wrap .title {
    font-size: 36px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    font-family: 'HelveticaNeue';
    text-align: center;
    margin-bottom: 25px;
}

.video-rewievs-wrap div {
    font-size: 18px;
    font-family: "HelveticaNeue";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: justify;
}

.video-rewies {
    width: 906px;
    float: right;
}

.video-rewies a span {
    display: table-cell;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.video-rewies a {
    position: relative;
    display: block;
}

.video-rewies svg {
    position: absolute;
    left: 41%;
    top: 32%;
    font-size: 10em;
    color: #fff;
    opacity: 0.8;
}


/*Партнеры*/

.partners {
    margin-bottom: 42px;
}

.partners .blue-title{
    margin-bottom: 38px;
}

.partnersItem {
    text-align: center;
}

.partnersItem .img {
    text-align: center;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    margin: 0 auto;
}

.owl-carousel .owl-item .partnersItem img {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin: 5px;
    overflow: hidden;
    height: auto;
    width: 67%;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    display: flex;
    justify-content: center;
    outline: none;
}
.owl-theme .owl-nav.disabled+.owl-dots button:hover,
.owl-theme .owl-nav.disabled+.owl-dots button{
    outline: none;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background-color: #01c5e0;
}


/*Подвал сайта*/

footer {
    border-top: 4px solid #0870bd;
    background-color: #cbcbcb;
    padding-top: 40px;
}

.footer-contacts p,
.footer-contacts a {
    font-size: 14px;
    margin-bottom: 20px;
    font-family: 'HelveticaNeue';
    color: rgb(74, 74, 74);
    line-height: 1.2;
    text-align: left;
}

.footer-menu,
.footer-contacts {
    float: left;
    margin-right: 122px;
}

.footer-contacts {
    margin-right: 178px;
    margin-left: 51px;
}

.footer-menu ul {
    list-style: none;
}

.footer-menu ul li {
    margin-bottom: 4px;
}

.footer-menu ul li a {
    font-size: 14px;
    margin-bottom: 20px;
    font-family: 'HelveticaNeue';
    color: rgb(74, 74, 74);
    line-height: 1.2;
    text-align: left;
}

.copyright {
    font-size: 14px;
    font-family: 'HelveticaNeue';
    color: rgb(74, 74, 74);
    line-height: 1.2;
    margin-top: -33px;
    width: 100%;
}

.copyright span {
    float: right;
}
.copyright a{
    color: rgb(74, 74, 74);
}
.error{
    color: #e1504e;
    font-weight: bold;
}

/*Карта*/
#map-box-contact{
    height: 455px;
    width: 100%;
}

/*О нас*/
.contact-section-box table {
    border: none;
    border-color: transparent;
}
.contact-section-box table td{
    vertical-align: top;
    border:none;
}
.contact-section-box img{
    margin-bottom: 22px;
}
.about .partners{
    padding-top: 30px;
}
.about .form{
    padding-bottom: 20px;
}
.about .partners,
.about .form{
    background-color: #fff;
}
.about .form h2{
    padding: 60px 0 0 0;
    color: #0097ed;
    font-family: "HelveticaNeue";
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}
.about .rewievs-wrap p{
    color: #fff;
}
.white-title{
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    font-family: 'HelveticaNeue';
    line-height: 1.2;
    text-align: center;
}
.about p {
    font-family: "HelveticaNeue";
    color: rgb(58, 58, 58);
    line-height: 1.1;
    padding-right: 60px;
    display: block;
    text-align: left;
}
.about .rewievsItem p{
    text-align: center;
    padding: 0;
}
/*Каталог продуктов*/
.catalog.slider-wrap,
.catalog .owlItem{
    height: 704px;
    width: auto;
}
.catalog .owlItem{
    background-size: cover;
}
.catalog .owlItem .section-tovar img, .owlItem a{
    margin-left: 0;
}
.catalog .owlItem .section-tovar img{
    position: absolute;
    right: 658px;
    top: 73px;
    width: 237px;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 1);
    border-radius: 28px;
}
.catalog .owlItem .section-tovar{
    right: 0;
}
.catalog .owlItem .section-tovar h1{
    /*display: none;*/
    position: absolute;
    right: 329px;
    top: 356px;
    color: #fff;
    font-size: 28px;
    text-shadow: 0 -1px 0 #505050, 0 0px 0 #505050, 0 1px 0 #505050, 0 1px 0 #505050, 1px 0 0 #505050, 1px 0 0 #505050, -1px 0 0 #505050, 1px 0 0 #505050, 0px -1px 0 #505050, 0px -1px 0 #505050, 0px 1px 0 #505050, 0px 1px 0 #505050, 0px 0px 0 #505050, -2px 0px 0 #505050, 2px 0px 0 #505050, -1px 0px 0 #505050, 0px -1px 0 #505050, 1px -1px 0 #505050, -1px 1px 0 #505050, 1px 1px 0 #505050, -1px -1px 0 #505050, 1px 0px 0 #505050, 0px 1px 0 #505050, 1px 0px 0 #505050;
    transition: all 1s;
}
.catalog .owlItem .section-tovar h1.hide{
    position: absolute;
    right:150px;
    top: 356px;
    color: #fff;
    font-size: 58px;
    text-shadow: 0 -1px 0 #505050, 0 0px 0 #505050, 0 1px 0 #505050, 0 1px 0 #505050, 1px 0 0 #505050, 1px 0 0 #505050, -1px 0 0 #505050, 1px 0 0 #505050, 0px -1px 0 #505050, 0px -1px 0 #505050, 0px 1px 0 #505050, 0px 1px 0 #505050, 0px 0px 0 #505050, -2px 0px 0 #505050, 2px 0px 0 #505050, -1px 0px 0 #505050, 0px -1px 0 #505050, 1px -1px 0 #505050, -1px 1px 0 #505050, 1px 1px 0 #505050, -1px -1px 0 #505050, 1px 0px 0 #505050, 0px 1px 0 #505050, 1px 0px 0 #505050;
    transition: all 1s;
}
.catalog .owlItem .section-tovar a{
    display: block;
    margin: 0;
    color: #fff;
    font-size: 58px;
    text-shadow: 0 -1px 0 #505050, 0 0px 0 #505050, 0 1px 0 #505050, 0 1px 0 #505050, 1px 0 0 #505050, 1px 0 0 #505050, -1px 0 0 #505050, 1px 0 0 #505050, 0px -1px 0 #505050, 0px -1px 0 #505050, 0px 1px 0 #505050, 0px 1px 0 #505050, 0px 0px 0 #505050, -2px 0px 0 #505050, 2px 0px 0 #505050, -1px 0px 0 #505050, 0px -1px 0 #505050, 1px -1px 0 #505050, -1px 1px 0 #505050, 1px 1px 0 #505050, -1px -1px 0 #505050, 1px 0px 0 #505050, 0px 1px 0 #505050, 1px 0px 0 #505050;
}
.catalog .video-rewievs-wrap {
    margin-bottom: 55px;
    margin-top: -120px;
}
.catalog .text-left {
    top: 193px;
    right: 308px;
}
.catalog .owlItem .section-tovar .tobtn img{
    top: 660px;
    height: auto;
}
.catalog .owlItem .section-tovar .tobtn a{
    position: relative;
    top: 0;
    right: 0;
}
.slider-wrap .owl-carousel .owl-item img{
    height: auto;
}
.catalog .rewievs-wrap,
.bg-wrapp .video-rewievs-wrap{
    padding-bottom: 67px;
    margin-bottom: -23px;
    padding-top: 13px;
}
.bg-wrapp .tovar .partners{
    padding-bottom: 30px;
}
.tovar .partners .blue-title {
    margin-bottom: 12px;
}
.catalog .partners,
.bg-wrapp .partners{
    margin-bottom: 0;
    padding-bottom: 50px;
}
.catalog .rewievs-wrap,
.catalog .partners,
.bg-wrapp .video-rewievs-wrap,
.bg-wrapp .partners{
    background-color: #fff;
}
.img-main-section{
    position: relative;
}
.img-main-section .slideTitle{
    position: absolute;
    top: 125px;
    right: 573px;
    line-height: 1.2;
    color: #fff;
    width: 255px;
    font-size: 60px;
    font-family: 'HelveticaNeue';
}
.img-main-section p {
    position: absolute;
    top: 280px;
    right: 341px;
    color: #fff;
    width: 480px;
    font-size: 26px;
    font-family: 'HelveticaNeue';
    color: #fff;
    text-shadow:
            -0   -2px 0   #433421,
            0   -2px 0   #433421,
            -0    2px 0   #433421,
            0    2px 0   #433421,
            -2px -0   0   #433421,
            2px -0   0   #433421,
            -2px  0   0   #433421,
            2px  0   0   #433421,
            -1px -2px 0   #433421,
            1px -2px 0   #433421,
            -1px  2px 0   #433421,
            1px  2px 0   #433421,
            -2px -1px 0   #433421,
            2px -1px 0   #433421,
            -2px  1px 0   #433421,
            2px  1px 0   #433421,
            -2px -2px 0   #433421,
            2px -2px 0   #433421,
            -2px  2px 0   #433421,
            2px  2px 0   #433421,
            -2px -2px 0   #433421,
            2px -2px 0   #433421,
            -2px  2px 0   #433421,
            2px  2px 0   #433421;
}
.bg-wrapp .golden-wrap-produkt{
    margin: 45px 0 0 0;
}
.bg-wrapp .golden-produkt-text{
    margin-top: 12px;
}
.bg-wrapp .golden-produkt-img{
    width:59%;
    text-align: center;
}
/*.bg-wrapp .golden-produkt-img img{*/
/*    margin-left: 69px;*/
/*}*/
.contact-section-box.nargin{
    margin-bottom: 56px;
}
.contact-wrap .contact-section-box,
.partners-wrap .contact-section-box{
    margin-bottom: 50px;
}
.send-form-connect-two{
    text-transform: uppercase;
}
.registr-certificate .img .img-one:first-child{
    margin-right: 22px;
}
.registr-certificate .img .img-one{
    width: 55%;
}
.registr-certificate .img .img-one img{
    width: 100%;padding: 5px;
    border: 1px solid #fff;
}
.composition-table-text img {
    margin: 0 auto;
    display: block;
}
.contact-section-box a{
    display: inline-block;
    width:95%;
    float: left;
}
/*#fancybox-content {*/
/*    overflow: scroll;*/
/*}*/
/*.fancybox-container{*/
/*    z-index: 5;*/
/*}*/
/*.fancybox-active{*/
/*    background-position: -15px -320px;*/
/*}*/
.successTpl-wrap{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999;
    background-color: rgba(255,255,255,0.7);
}
.successTpl-wrap.hide{
    display: none;
}
.successTpl{
    position: fixed;
    width: 620px;
    height: 200px;
    top: 50%;
    left:50%;
    margin: -100px 0 0 -300px;
    background: rgb(21,151,169);
    background: linear-gradient(0deg, rgba(21,151,169,1) 0%, rgba(8,112,189,1) 100%);
    border-radius: 20px;
    padding-top: 50px;
    text-align: center;
}
.successTpl div{
    color: #fff;
    font-size: 24px;
    font-family: "HelveticaNeueLight";
    line-height: 1.5;
    margin-bottom: 10px;
}
.successTpl p{
    cursor: pointer;
    display: inline-block;
    border:1px solid #fff;
    background-color: #76ca14;
    padding: 5px 22px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}
.tab2 .tab-content{
    max-height: 270px;
    overflow:hidden;
}
.tab2 .tab-content.hide{
    display: none;
}
.bg-wrapp .center-produkt-cat .owl-next:before,
.bg-wrapp .center-produkt-cat .owl-prev:before{
    top: 40%;
}
.bg-wrapp .center-produkt-cat .owl-next:before{
    right: -32px;
}
.bg-wrapp .center-produkt-cat .owl-prev:before{
    left: -32px;
}
.owl-carousel .goodsItem-produkt{
    margin-bottom: 0;
}
#map-box-contact{
    border:2px solid #1275be;
}
.img-main-section{
    border-bottom:4px solid #1275be;
}
.hide{
    opacity: 0;
}
.catalog .video-rewievs-wrap{
    margin-top: 50px;
    margin-bottom: 100px;
}
.contact .contact-section-box>table>tbody>tr>td:first-child{
    width: 54% !important;
}
.contact .contact-section-box table table img{
    border:2px solid #219bac;
    margin-bottom: 0;
}
.contact .contact-section-box table table tbody>tr>td:first-child a{
    width: 98%;
    float: left;
    margin: 6px 19px;
    margin-left: 0;
}
.contact .contact-section-box table table tbody>tr>td:last-child a{
    display: inline-block;
    width: 98%;
    float: left;
    margin: 4px 0 0 18px;
}
.contact .contact-section-box table table tbody>tr>td:last-child a img{
    margin-bottom: 0;
}
.partners-wrap .rewievs-wrap {
    margin: 40px 0 42px 0;
    padding: 0;
}
.contact-box-form {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 28px;
}
.mistake-form-valid:last-child{
    width: 48%;
    margin-right: -29px;
}
.contact-wrap .contact-text-box{
    margin-top: 0px;
}
.catalog-productov .rewievs-wrap{
    margin-top: 0;
    margin-bottom: 0;
}
.bg-wrapp .catalog-productov .video-rewievs-wrap{
    background-color: transparent;
}
.catalog-productov .blue-title{
    font-size: 36px;
}
.goodsItem-produkt.hide{
    display: block;
}
.contact-text-box a{
    display: inline-block;
    color: #3a3a3a;
    width: auto;
    float: none;
}
.contact-wrap p {
    display: inline-block;
    width: 385px;
    display: block;
}

.contact-wrap .contact-text-box p {
    color: #3a3a3a;
    font-family: "HelveticaNeue";
    font-size: 20px;
    text-align: left;
    width: 600px;
    /* margin: 0 auto; */
}

.langli {
    display: none;
}

@media (max-width: 1600px) {
    .img-main-section .slideTitle {
        right: 373px;
    }
    .img-main-section p{
        right: 143px;
    }
}
@media (max-width: 1440px) {
    .video-rewievs-wrap .video-rewies-text {
        width: 32%;
    }
    .owlItem{
        height: 500px;
    }
    .video-rewies {
        width: 64%;
        float: right;
    }
    .video-rewies img {
        width: 100%;
    }
    .catalog .text-left p{
        font-size: 61px;
    }
    .catalog .owlItem .section-tovar img{
        width: auto;
    }
    .catalog .owlItem .section-tovar h1{
        right: 350px;
        top: 340px;
        font-size: 50px;
    }
    .catalog .text-left{
        right: 75px;
    }
    .catalog .owlItem .section-tovar .tobtn a{
        top: -160px;
    }
    .home .text-left{
        top: 120px;
        right: 121px;
    }
    .home .owlItem .section-tovar a,
    .home .owlItem .section-tovar img, .owlItem a{
        margin-left: 150px;
    }
    .goodsItem a.title {
             font-size: 41px;
         }
    .catalog .owlItem .section-tovar img {
        right: 400px;
    }
    .catalog .owlItem .section-tovar h1{
        right:140px;
    }
    .catalog .owlItem{
        background-size: cover;
        background-position: -100px 0px;
    }
}

@media (max-width: 1200px) {
    header nav ul li a{
        padding: 0 16px;
    }
    .contact-text-box p{
        font-size: 20px;
    }
    .goodsItem.active{
        padding-bottom: 15px;
    }
    .img-main-section{
        background-position: -358px 0;
    }
    .goodsItem a.title {
        font-size: 32px;
    }
    .goodsItem img{
        width: 100%;
    }
    .goodsItem.active{
        height: auto;
    }
    .catalog .owlItem {
        background-size: cover;
        background-position: -350px 0;
    }
    .contact .contact-section-box>table>tbody>tr>td:first-child,
    .contact-section-box .contact-section-box>table>tbody>tr>td{
        width: 100% !important;

        display: inline-block;
    }
}

@media (max-width: 1024px) {
    header .logo {
        width: auto;
    }
    .owlItem {
        margin-top: -42px;
    }
    .owl-prev:before {
        left: 15px;
    }
    .owl-next:before {
        right: 15px;
    }
    .goodsItem {
        padding: 15px 15px 0 15px;
    }
    .goodsItem {
        height: auto;
        margin: 0 0 54px;
    }
    .goodsItem a {
        font-size: 47px;
        display: block;
        margin-bottom: 15px;
    }
    .rewievsItem {
        width: 290px;
    }
    .video-rewies {
        width: 100%;
        float: none;
    }
    .video-rewies,
    .video-rewievs-wrap .video-rewies-text {
        margin: 0 15px;
    }
    .video-rewievs-wrap .video-rewies-text {
        width: 100%;
        margin-bottom: 30px;
    }
    .partnersItem .img img {
        width: 100%;
    }
    .copyright {
        margin-top: -17px;
        width: 96%;
        position: absolute;
    }
    .footer-contacts {
        margin-right: 30px;
        margin-left: 0;
    }
    .goodsItem img {
        width: 100%;
    }
    .goodsItem a {
        font-size: 33px;
    }
    .goodsItem a:after {
        bottom: 5px;
    }
    .goodsItem-wrap .title {
        font-size: 30px;
    }
    .rewievsItem {
        margin: 80px auto 0;
        display: block;
    }
    header nav ul li a {
        padding: 0 7px;
        font-size: 21px;
    }
    .catalog .owlItem .section-tovar img{
        right: 358px;
    }
    .catalog .text-left{
        right: 10px;
    }
    .catalog .text-left p{
        font-size: 41px;
    }
    .catalog .owlItem .section-tovar h1{
        right: 125px;
        top: 385px;
        font-size: 29px;
    }
    .home .text-left{
        top: 150px;
        right: 50px;
    }
    .home .owlItem .section-tovar a, .home .owlItem .section-tovar img, .owlItem a{
        margin-left: 100px;;
    }
    .goodsItem a.title{
        font-size: 33px;
    }
    .goodsItem a.title:after{
        bottom: 7px;
    }
    .goodsItem a.title {
         font-size: 26px;
     }
    .img-main-section .slideTitle{
        right: 100px;
    }
    .img-main-section p {
        right: 0;
        padding-top: 50px;
        width: 100%;
    }
    .composition-table-text img {
        width: 100%;
        height: auto;
    }
    .catalog .owlItem .section-tovar {
         right: 0;
     }
    .dog-produkt-wrap .goodsItem-produkt,
    .dog-produkt-wrap .goodsItem-produkt.six{
        opacity: 1;
        transition: 1s linear;
        margin-bottom: 30px;
        width: 28%;
        display: inline-block;
        padding: 0 15px;
    }
}

@media (max-width: 768px) {

    .langmenu {
        display: none;
    }

    .langli {
        display: block;
    }

    .footer-menu,
    .footer-contacts {
        margin-right: 30px;
    }
    .container {
        max-width: 720px;
    }
    header nav ul {
        display: none;
    }
    .menu__btn {
        display: flex;
    }
    header nav ul li a,
    header nav ul li svg {
        display: inline-block;
    }
    header nav ul li:hover {
        color: #8532b0;
        width: 100%;
        text-decoration: none;
        background-color: #fff;
    }
    .submenu li a {
        color: #fff;
    }
    header nav ul li a {
        color: #000;
    }
    .submenu {
        position: relative;
        z-index: 5;
        min-width: 100%;
        width: 100%;
        visibility: visible;
        height: auto;
        opacity: 1;
        transform: none;
        transition: .3s linear;
    }
    nav li:hover>.submenu {
        visibility: visible;
        opacity: 1;
    }
    .topmenu {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }
    .level svg {
        display: inline-block;
        margin-left: 15px;
    }
    header nav ul li {
        display: block;
    }
    #menu__toggle {
        display: block;
    }
    .about p {
        padding-right: 0px;
    }
    .contact-section-box table td{
        width: 100% !important;
        display: inline-block;
    }
    .contact-section-box table td table td{
        width: 50% !important;
    }
    .partners-wrap .partners {
        margin-bottom: 0;
        width: 100%;
    }
    .blue-title-two{
        text-align: center;
    }
    .slider-wrap .owl-next:before{
        right: 20px;
    }
    .slider-wrap .owl-prev:before{
        left: 20px;
    }
    .home .text-left.active{
        left: 50%;
        margin-left:-200px;
        width: 400px;
    }
    .home .owlItem .section-tovar a, .home .owlItem .section-tovar img{
        margin-left: 50px;
    }
    .text-left p{
        font-size: 48px;
    }
    .owlItem .section-tovar a{
        font-size: 40px;
    }
    .dog-produkt-wrap .goodsItem-produkt,
    .dog-produkt-wrap .goodsItem-produkt.six {
        width: 40%;
    }
    .cat-produkt-wrap .goodsItem-produkt {
        margin-bottom: 30px;
    }
    .goodsItem{
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .footer-contacts {
        width: 40%;
    }
    .home .text-left.active{
        left: 20px;
        margin-left:0;
        width: auto;
    }
    .copyright {
        text-align: center;
    }
    .copyright span {
        display: block;
        float: none;
    }
    .footer {
        height: 269px;
    }
    .footer-menu {
        width: 20%;
    }
    .goodsItem img {
        width: 50%;
    }
    .content {
        padding-bottom: 269px;
    }
    .owlItem {
        margin-top: 0;
    }
    .catalog .text-left,
    .text-left{
        top: 100px;
        right: auto;
        left: auto;
        width: 100%;
    }
    .catalog .text-left p,
    .text-left p{
        text-align: center;
    }
    .catalog .owlItem .section-tovar img,
    .owlItem .section-tovar img{
        right:auto;
        position: relative;
        display: inline-block;
    }
    .owlItem .section-tovar{
        width: 100%;
        top: 40px;
        text-align: center;
    }
    .catalog .owlItem .section-tovar h1,
    .owlItem .section-tovar a{
        right: 0;
        top: 80px;
        margin-left: 0;
        position: relative;
        font-size: 20px;
        display: inline-block;
    }
    .catalog .owlItem .section-tovar .tobtn img,
    .owlItem .section-tovar .tobtn img{
        top: 100px;
    }
    .catalog .owlItem .section-tovar .tobtn a,
    .owlItem .section-tovar .tobtn a{
        top:0;
    }
    .catalog .slider-wrap, .catalog .owlItem,
    .catalog .owlItem{
        height: 1000px;
    }

    .home .owlItem .section-tovar a, .home .owlItem .section-tovar img{
        margin-left: 0;
        width: auto;
    }
    .home .owlItem{
        height: 800px;
    }
    .owlItem .section-tovar a{
        top:20px;
    }
    .catalog .owlItem {
        background-size: cover;
        background-position: -626px 0;
    }
    .catalog .owlItem .section-tovar img {
        width: 40%;
    }
    .catalog.slider-wrap, .catalog .owlItem {
        overflow: hidden;
        height: 605px;
    }
    .contact-wrap .contact-text-box p{
        width: auto;
        font-size: 18px;
    }
    .contact-wrap p{
        width: 100%;
    }
    .partners-wrap {
        background-image: url(../img/bacground-partners.png);
        background-position: 0 0px;
    }

    .goodsItem-produkt a {
        display: block;
    }
}

@media (max-width: 480px) {

    .tab {
        width: 120px;
    }

    .rewievs-wrap {
        margin-top: 300px;
    }

    .img-main-section .slideTitle{
        top: 87px;
    }

    .contact .contact-section-box table table img {
        border: 2px solid #219bac;
        margin-bottom: 0;
        width: 100%;
    }
    .contact .contact-section-box table table tbody>tr>td:first-child a,
    .contact .contact-section-box table table tbody>tr>td:last-child a{
        width: 100%;
        float: none;
        margin: 6px 0;
        margin-left: 0;
    }


    .goodsItem a.title {
        /* font-size: 26px; */
        text-align: center;
        margin-bottom:15px;
    }
    .copyright {
        margin-top: 0;
        width: 100%;
        position: relative;
    }


    .img-main-section {
        width: 100%;
        height: 250px;
        overflow: hidden;
    }

    .footer {
        height: 296px;
    }

    .goodsItem img {
        width: 50%;
        margin-right: 0;
    }

    .img-main-section .slideTitle {
        right: 0;
        position: relative;
        text-align: center;
        width: 100%;
    }

    .img-main-section p {
        right: 0;
        padding-top: 0;
        width: 100%;
        position: relative;
        top: 60px;
        text-align: center;
        line-height: 1.1;
    }

    .contact-section-box table td table td {
        width: 100% !important;
    }

    .footer-menu,
    .footer-contacts {
        margin-right: 10px;
    }

    .video-rewies svg {
        font-size: 3em;
    }

    .owl-carousel .owl-item .partnersItem img {
        display: inline-block;
        max-width: 100%;
        height: 100%;
    }

    header .logo{
        margin-left: 0;
    }

    .catalog-productov .rewievs-wrap {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
    }

    .contact-section-box .slideTitle {
        font-size: 25px;
        text-align: center;
        margin-bottom: 15px;
    }

    .owlItem .section-tovar {
        top: 40px;
    }

    .catalog .owlItem .section-tovar a {
        text-align: center;
    }

    .goodsItem-produkt a img {
        width: 100%;
        height: auto;
        max-width: auto;
    }

    .partnersItem .img {
        width: 100%;
    }

    .home .owlItem .section-tovar a, .home .owlItem .section-tovar img {
        text-align: center;
    }

    .home .owlItem .section-tovar {
        top: 87px;
        position: relative;
    }

    .home .owlItem {
        height: 264px;
        margin-top: 32px;
    }
    .owlItem.left{
        background-position-x:480px;
    }
    .left .text-left,
    .right .text-left{
        left: -500px;
    }

    .left .text-left.active,
    .right .text-left.active{
        left: 0;
    }

    .home .text-left {
        position: relative;
        top: 70px;
    }

    .catalog .text-left p {
        font-size: 44px;
    }

    .bg-wrapp .golden-wrap-produkt {
        margin-top: 30px;
    }

    .catalog .text-left, .text-left {
        top: 100px;
        right: auto;
        left: auto;
        width: auto;
        margin-left: -18px;
    }

    .dog-produkt-wrap .goodsItem-produkt {
        margin-bottom: 30px;
    }
    .dog-produkt-wrap .goodsItem-produkt,
    .dog-produkt-wrap .goodsItem-produkt.six {
        width: 100%;
    }
    .bg-wrapp .golden-produkt-img {
        width: 100%;
    }
    .bg-wrapp .golden-produkt-img img,
    .goodsItem-produkt a img{
        margin-left: 0;
        margin: 0 auto;
        display: block;
    }
    .golden-produkt-text p{
        margin-bottom: 15px;
    }
    .advantages-text-golden,
    .registr-certificate .img .img-one:first-child{
        margin: 0;
    }
    .img-main-section{
        background-position-y: 0 !important;
        background-position: -100px 0;
    }

    .catalog.slider-wrap, .catalog .owlItem {
        overflow: hidden;
        height: 255px;
        margin-top: 23px;
    }
    .contact-wrap footer p{
        width: 100%;
    }
    .contact-section-box{
        width: 90%;
    }
    .contact-box-form{
        padding: 0;
    }
    .footer-contacts {
        width: 100%;
    }
    .footer-menu {
        width: 46%;
    }
    .footer {
        height: 400px;
    }
    .content {
        padding-bottom: 350px;
    }
    .copyright {
        margin-top: -17px;
        width: 96%;
        bottom: 14px;
        position: absolute;
    }
    footer .container {
        position: relative;
        height: 100%;
    }
    .copyright {
        margin-top: 30px;
        width: auto;
        position: relative;
    }

    .catalog .owlItem .section-tovar a{
        font-size: 36px;
    }
}

@media (max-width: 375px) {
    .goodsItem img {
        width: 100%;
    }
    .copyright {
        margin-top: 0px;
        width: auto;
        position: relative;
    }
    .owlItem.left{
        background-position-x:320px;
    }


    .catalog.slider-wrap, .catalog .owlItem {
        overflow: hidden;
        height: 270px;
    }

    .tab {
        width: 100px;
    }

    .tab-title {
        width: 75px;
        height: 75px;
        margin: 20px 10px;
        background-size: 50px !important;
    }

    .tab :checked+.tab-title {
        width: 98px !important;
        height: 81px !important;
        background-size: contain;
    }


}

.row.center-produkt {
    justify-content: center;
}

header.small .langmenu {
    margin-top: 17px;
}

.langmenu {
    float: right;
    margin-top: 25px;
}

.langmenu li {
    float: left;
    list-style: none;
    color: #fff;
}

.langmenu li a {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    text-decoration: underline;
}

.langmenu li.active a {
    text-decoration: none;
}

.table-end-text iframe {
    margin: 0 auto;
    max-width: 100%;
}

.table-end-text img {
    max-width: 100%;
    height: auto;
}

.clear {
    clear: both;
}

.produkt_bitton {
    float: left;
    width: 100%;
}

.produkt_bitton a {
    position: relative;
    display: inline-block;
    padding: 7px 45px;
    background: linear-gradient(to top, #79b200, #abc900);
    color: #fff;
    border-radius: 7px;
    text-decoration: none;
}

.produkt_bitton a:hover {
    background: linear-gradient(to top, #5f8b00, #9ce400);
}

.produkt_bitton a:before {
    position: absolute;
    left: 80px;
    bottom: 5px;
    width: 100%;
    height: 37%;
    border-radius: 10% 0 0 0;
    z-index: -1;
    content: "";
    box-shadow: -86px 0 17px rgba(0,0,0,0.50);
    -webkit-transform: skew(36deg);
    -moz-transform: skew(36deg);
    -ms-transform: skew(36deg);
    -o-transform: skew(36deg);
    transform: skew(36deg);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}

.golden-produkt-text h1 {
    font-size: 30px;
}

.tile {
    position: relative;
    float: left;
    width: 250px;
    height: 330px;
    padding: 0;
    margin: 0 20px 20px 0;
    line-height: 1.5em;
    background: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.2);
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
    overflow: hidden;
}

.tile img {
    max-width: 100%;
}

.tile .description {
    padding: 30px 15px 15px;
}

.tile .description .h3like {
    font-size: 24px;
    color: #566871;
}

.tile .item-link {
    display: block;
    padding: 0 15px;
    color: rgb(0,151,237);
    text-decoration: underline;
}

.articles {
    padding: 30px 0;
}

.article {
    padding: 30px 0;
}

h1 {
    color: #1275be;
}

.icons-wrap {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: rgba(255,255,255, 0.63);
}

.icons-wrap .icon-img {
    font-size: 80px;
    color: #0870bd;
}

.ico-title {
    font-size: 18px;
    color: #0870bd;
    font-weight: bold;
}

.product_title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.product_img img {
    max-width: 100%;
}

.product_item {
    margin-bottom: 30px;
}

.product_item a {
    color: #0870bd;
}



