.contact-wrap{
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../img/bacground-contact.png");

}
.img-main-section{
    width: 100%;
}
.img-main-section img{
    size: auto;
    width: 100%;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 30px 0 30px 0;
}
.contact-section-box{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 85%;

    border-radius: 25px;
    background: rgba(255, 255, 255, 0.6);
    padding: 30px;
}
.contact-text-box{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    margin: 50px 0 60px 0;
}
.contact-text-box p{
    color: #3a3a3a;
    font-family: "HelveticaNeue";
    font-size: 24px;
}
.map-box-contact{
    width: 100%;
}
.map-box-contact img{
    max-width: 100%;

}
.contact-section-box h2{
    margin: 60px 0 0 0;

    color: #0097ed;
    font-family: "HelveticaNeue";
    font-size: 36px;
    font-weight: 700;
}
.contact-box-form{
    width: 100%;
    display: flex;
    justify-content: center;
}
.box-input-button-connection{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    align-items: center;
}
.mistake-form-valid{
    width: 49%;
    display: flex;
    flex-direction: column;
    height: 125px;
    justify-content: space-between;
}
.mistake-form-valid input{
    border: #74bde5 solid 2px;
    padding: 5px;
    background-color: transparent;
}
.box-form{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.rules-help-block{
    display: none;
}
.send-form-connect-two{
    width: 226px;
    height: 41px;
    background: #0097ed;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 40px 0 0 0;
}
.text-height-form-input{
    height: 105px;
}


/*partners*/


.blue-title-two{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

    color: #0097ed;
    font-family: "HelveticaNeue";
    font-size: 30px;
    font-weight: 700;
}
/*.owl-nav{*/
/*    display: none;*/
/*}*/

.copyright {
    margin-top: 0;
    width: auto;
    position: relative;
    height: 30px;
}
.mistake-form-valid textarea {
    border: #74bde5 solid 2px;
    padding: 5px;
    min-height: 105px;
    max-height: 105px;
    background-color: transparent;
}





@media (max-width: 1024px) {
    .copyright {
        margin-top: 0;
        width: auto;
        position: relative;
        height: 30px;
    }
}
@media (max-width: 768px){
    .contact-text-box p {
        font-size: 16px;
    }
    .contact-section-box h2 {
        margin: 40px 0 0 0;
        font-size: 30px;
    }
    /*.owl-prev:before {*/
    /*    left: -20px;*/
    /*}*/
    /*.owl-next:before {*/
    /*    right: -20px;*/
    /*}*/
    /*.owl-carousel .owl-stage-outer {*/
    /*    max-width: 100%;*/
    /*}*/
}
@media (max-width: 767px){
    .contact-text-box p {
        font-size: 15px;
    }
    .contact-section-box h2 {
        font-size: 25px;
    }
    .mistake-form-valid input {
        font-size: 10px;
    }
    .box-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mistake-form-valid {
        width: 80%;
    }
    .contact-section-box {
        margin: 0 0 20px 0;
    }
    .contact-text-box{
        flex-direction: column;
    }
}
@media (max-width: 375px){
    .footer{
        height: auto;
    }
}






























