.partners-wrap{
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../img/bacground-partners.png");
}
.container{
    max-width: 1130px;
}
.partnersItem .img {
    width: 264px;
}
.owl-next:before {
    right: -30px;
}
.owl-prev:before {
    left: -30px;
}
.content {
     padding-bottom: 0px;
}
.footer{
    position: relative;
    height: auto;
}
@media (max-width: 1399px){
    .container {
        max-width: 965px;
    }
    header nav {
        margin-left: 33px;
    }
    header nav ul li a {
        font-size: 20px;
        padding: 0px 20px;
    }
    header .logo{
        width: auto;
        margin-left: 30px;
    }
    .partnersItem .img {
        width: 240px;
    }
    .owl-next:before {
        right: -40px;
    }
    .owl-prev:before {
        left: -40px;
    }
}
@media (max-width: 1199px){
    .container {
        max-width: 860px;
    }
    header nav {
        margin-left: 33px;
    }
    header nav ul li a {
        font-size: 20px;
        padding: 0px 20px;
    }
    header .logo{
        width: auto;
        margin-left: 30px;
    }
    .partnersItem .img {
        width: 210px;
    }
    .owl-next:before {
        right: -40px;
    }
    .owl-prev:before {
        left: -40px;
    }
}
@media (max-width: 1080px){
    .container {
        max-width: 760px;
    }
    .partnersItem .img {
        width: 180px;
    }
}
@media (max-width: 999px){
    .container {
        max-width: 600px;
    }
    .owl-next:before {
        right: -30px;
    }
    .owl-prev:before {
        left: -30px;
    }
    .partnersItem .img {
        width: 280px;
    }
    header nav ul li a {
        padding: 0 5px;
        font-size: 16px;
    }
}
@media (max-width: 768px){
    .container {
        max-width: 590px;
    }
    .owl-next:before {
        right: -40px;
    }
    .owl-prev:before {
        left: -40px;
    }
    .partnersItem .img {
        width: 280px;
    }
}
@media (max-width: 414px){
    .container {
        max-width: 300px;
    }
    .partnersItem .img {
        width: 270px;
    }
    .owl-next:before {
        right: -30px;
    }
    .owl-prev:before {
        left: -30px;
    }
    .blue-title-two {
        font-size: 20px;
    }
    .contact-section-box h2 {
        font-size: 20px;
    }
}
@media (max-width: 370px){
    .container {
        max-width: 280px;
    }
    .partnersItem .img {
        width: 250px;
    }
}