.img-main-section{
    width: 100%;
}
.img-main-section img{
    size: auto;
    width: 100%;
    max-height: max-content;
}
.golden-wrap-produkt{
    margin: 20px 0 0 0;
}
.golden-produkt-top{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}
.golden-produkt-text{
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 60%;
    margin: 0 0 0 20px;
}
.golden-produkt-text h2{
    color: #5a214f;
    font-size: 30px;
    font-weight: 700;
}
.golden-produkt-text p{
    font-size: 14px;
    font-weight: 400;
}
.box-text-golden{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.advantages-text-golden{
    background-color: #6d245f;
    padding: 25px;
    border-radius: 20px;
    color: #f1f1f1;
    max-width: 50%;
}
.advantages-text-golden h3{
    font-size: 24px;
}
/*.advantages-text-golden p{*/
/*    font-size: 12px;*/
/*}*/
.registr-certificate{
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 20px;
    color: #f1f1f1;
    background-color: #5e4424;
    justify-content: flex-start;
}
.registr-certificate .img{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 25px 0 0 0;
}
.golden-table{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.golden-table h4{
    color: #000000;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 700;
}
.golden-table p{
    color: #000000;
    font-family: Helvetica;
    font-size: 18px;
}
.table-end-text{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 49%;
    padding: 25px;
    border-radius: 25px;
    margin: 30px 0 0 0;
}
.table-end-text table{
    width: 100%;
}
.table-end-text table td{
    border: #bbbdbf solid 1px;
    max-width: 500px;
}
.table-end-text table td span{
    color: #000000;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 700;
}
.table-end-text table td{
    color: #000000;
    font-family: Helvetica;
    font-size: 18px;
    text-align: center;
    padding: 2px 5px;
}
.table-end-text table tr :first-child{
    text-align: left;
    border-left: none;
}
.table-end-text table tr :last-child{
    border-right: none;
}
.table-end-text table :first-child{
    max-height: 600px;
}
.table-end-text .table-two tr :first-child{
    text-align: center;
}
.text-produkt-all{
    margin-top: 25px;
    width: 100%;
    text-align: center;

    color: #6c245f;
    font-family: "HelveticaNeue";
    font-size: 36px;
    font-weight: 700;
}
@media (max-width: 768px) {
    .golden-produkt-top{
        flex-direction: column;
    }
    .golden-table{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .golden-produkt-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .golden-produkt-text{
        max-width: 100%;
        justify-content: center;
    }
    .golden-produkt-text h2 {
        margin-top: 20px;
        font-size: 40px;
    }
    .golden-produkt-text p {
        font-size: 30px;
    }
    .box-text-golden{
        flex-direction: column;

        align-items: center;
    }
    .registr-certificate{
        margin-top: 20px;
    }
    .registr-certificate .img{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .registr-certificate .img img{
        margin-top: 20px;
    }
    .table-end-text {
        max-width: 90%;
    }
}

@media (max-width: 767px) {
    .golden-produkt-text h2 {
        font-size: 30px;
    }
    .golden-produkt-text p {
        font-size: 18px;
    }
    .advantages-text-golden {
        max-width: 80%;
    }
    .advantages-text-golden h3 {
        font-size: 21px;
    }
    .golden-produkt-text p {
        font-size: 16px;
    }
    .registr-certificate{
        max-width: 80%;
    }
    .registr-certificate h3{
        font-size: 21px;
    }
    .golden-table h4 {
        font-size: 19px;
    }
    .golden-table p {
        font-size: 16px;
    }
    .table-end-text table td {
        font-size: 15px;
    }
    .table-end-text table td span {
        font-size: 20px;
    }
    .text-produkt-all {
        font-size: 21px;
    }
    .blue-title {
        font-size: 21px;
        margin-bottom: 20px;
    }
}
@media (max-width: 410px){
    .golden-produkt-img img{
        width: 220px;
    }
    .registr-certificate {
        max-width: 80%;
    }
    .table-end-text table td {
        font-size: 11px;
    }
    .table-end-text table td span {
        font-size: 15px;
    }
}









































