header nav ul li a i{
    display: none;
}
header nav ul li a i:before{
    display: none;
}
/* добавляем "гамбургер" */

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}


/* элементы меню */

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
    background-color: #000;
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
    background-color: #000;
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #000;
}

#menu__toggle:checked~.topmenu {
    visibility: visible;
    right: 0;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    transition-duration: .25s;
}

.menu__box {
    transition-duration: .25s;
}

.menu__item {
    transition-duration: .25s;
}

.dog-produkt-wrap{
    /*background-image: url("../img/background-prukt-section.png");*/
    background-repeat: repeat-y;
    background-size: 100%;
    padding: 0 0 10px 0;
}
.text-produkt-dog{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: "HelveticaNeue";
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(133,50,176,1) 25%, rgba(133,50,176,1) 50%, rgba(133,50,176,1) 75%, rgba(255,255,255,0) 100%);
}
.center-produkt {
    display: block;
    text-align: center;
    margin: 30px 0 -80px;
}
.center-produkt-cat{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.text-produkt-cat{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "HelveticaNeue";
    font-size: 36px;
    font-weight: 700;

    padding: 10px 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(226,93,98,1) 25%, rgba(226,93,98,1) 50%, rgba(226,93,98,1) 75%, rgba(255,255,255,0) 100%);
}
.goodsItem-produkt-cat{
}

.video-rewies i {
    position: absolute;
    left: 41%;
    top: 32%;
    font-size: 10em;
    color: #fff;
    opacity: 0.8;
}
.goodsItem-produkt a{
    width: 100%;
    display: block;
}
.goodsItem-produkt a img{
    max-width: 100%;
}
.img-main-section{
    width: 100%;
}
.img-main-section img{
    size: auto;
    width: 100%;
    max-height: max-content;
}
.golden-wrap-produkt{
    margin: 20px 0 0 0;
}
.golden-produkt-top{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}
.golden-produkt-text{
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 0 20px;
    width: 123%;
}
.golden-produkt-text h2{
    color: #5a214f;
    font-size: 30px;
    font-weight: 700;
}
.golden-produkt-text p{
    font-size: 25px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 60px;
}
.advantages-text-golden p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 7px;

}
.box-text-golden{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.advantages-text-golden {
    background-color: #6d245f;
    padding: 20px 25px 25px;
    border-radius: 20px;
    color: #f1f1f1;
    width: 53%;
    margin-right: 20px;
}
.advantages-text-golden h3,
.registr-certificate h3{
    font-size: 26px;
    margin-bottom: 19px;
    text-decoration: underline;
    text-align: center;
}
.registr-certificate h3{
    margin-bottom: 0;
}
/*.advantages-text-golden p{*/
/*    font-size: 12px;*/
/*}*/
.registr-certificate{
    display: flex;
    flex-direction: column;
    padding: 27px 25px;
    border-radius: 20px;
    width: 45%;
    color: #f1f1f1;
    background-color: #5e4424;
    justify-content: flex-start;
}
.registr-certificate .img{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 19px 0 0 0;
}
.golden-table{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.golden-table h4{
    color: #000000;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 700;
}
.golden-table p{
    color: #000000;
    font-family: Helvetica;
    font-size: 18px;
}
.table-end-text{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 25px;
    margin: 30px 0 0 0;
}
.table-end-text table{
    width: 100%;
}
.table-end-text table td{
    border: #bbbdbf solid 1px;
    max-width: 500px;
}
.table-end-text table td span{
    color: #000000;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 700;
}
.table-end-text table td{
    color: #000000;
    font-family: Helvetica;
    font-size: 18px;
    text-align: center;
    padding: 2px 5px;
}
.table-end-text table tr :first-child{
    text-align: left;
    border-left: none;
}
.table-end-text table tr :last-child{
    border-right: none;
}
.table-end-text table :first-child{
    max-height: 600px;
}
.table-end-text .table-two tr :first-child{
    text-align: center;
}
.text-produkt-all{
    margin-top: 25px;
    width: 100%;
    text-align: center;

    color: #6c245f;
    font-family: "HelveticaNeue";
    font-size: 36px;
    font-weight: 700;
}
@media (max-width: 768px) {
    .golden-produkt-top{
        flex-direction: column;
    }
    .golden-table{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .golden-produkt-text{
        max-width: 100%;
        justify-content: center;
    }
    .golden-produkt-text h2 {
        margin-top: 20px;
        font-size: 40px;
    }
    .golden-produkt-text p {
        font-size: 30px;
    }
    .box-text-golden{
        flex-direction: column;

        align-items: center;
    }
    .registr-certificate{
        margin-top: 20px;
    }
    .registr-certificate .img{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .registr-certificate .img img{
        margin-top: 20px;
    }
    .table-end-text {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .golden-produkt-text h2 {
        font-size: 30px;
    }
    .golden-produkt-text p {
        font-size: 18px;
    }
    .advantages-text-golden {
        max-width: 80%;
    }
    .advantages-text-golden h3 {
        font-size: 21px;
    }
    .golden-produkt-text p {
        font-size: 16px;
    }
    .registr-certificate{
        max-width: 80%;
    }
    .registr-certificate h3{
        font-size: 21px;
    }
    .golden-table h4 {
        font-size: 19px;
    }
    .golden-table p {
        font-size: 16px;
    }
    .table-end-text table td {
        font-size: 15px;
    }
    .table-end-text table td span {
        font-size: 20px;
    }
    .text-produkt-all {
        font-size: 21px;
    }
    .blue-title {
        font-size: 21px;
        margin-bottom: 20px;
    }
    .registr-certificate,
    .advantages-text-golden{
        width: 100%;
        max-width: 100%;
    }
    .golden-produkt-text{
        margin: 0;
    }
}
@media (max-width: 410px){

    .table-end-text table td {
        font-size: 11px;
    }
    .table-end-text table td span {
        font-size: 15px;
    }
    .center-produkt {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    body, html{
        margin: 0;
        padding: 0;
    }
    header{
        height: 75px;
    }
    .goodsItem-produkt a img{
        width: 100%;
        height: auto;
    }
    .goodsItem-produkt-cat a img{
        max-width: 110px;
    }
    .blue-title{
        margin-top: 20px;
    }
    .owl-prev:before {
        left: -5px;
    }
    .owl-next:before {
        right: -5px;
    }
}
@media (max-width: 767px) {
    .text-produkt-dog {
        font-size: 20px;
    }
    .center-produkt {
        margin: 20px 0;
        position: relative;
    }
    .goodsItem-produkt{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 10px 0;
    }
    .goodsItem-produkt a {
        display: flex;
        justify-content: center;
    }
    .text-produkt-cat {
        font-size: 20px;
    }
    .center-produkt-cat {
        margin: 20px 0;
        position: relative;
    }
    .goodsItem-produkt-cat{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 10px 0;
    }
    .video-rewievs-wrap .title {
        font-size: 20px;
    }


    .video-rewievs-wrap p {
        font-size: 14px;
    }
    .video-rewies i {
        font-size: 4em;
    }
    .blue-title {
        font-size: 25px;
    }
    .owl-carousel.owl-loaded {
        margin: 0 0 35px 0;
    }
}

.img-main-section{
    width: 100%;
    height: 377px;
}
.img-main-section img{
    size: auto;
    width: 100%;
    height: 100%;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 60px 0 0;
}
.contact-section-box{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 76%;

    border-radius: 25px;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px 24px 44px;
    margin-bottom: -13px;
}

.about .form h2 {
    padding: 26px 0 0 0;
    color: #0097ed;
    font-family: "HelveticaNeue";
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 28px;
}
/*.contact-section-box table tr td:first-child{*/
/*    width: 54% !important;*/
/*}*/
.contact-text-box{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    margin: 38px 0 14px 0;
}
.contact-text-box p{
    color: #3a3a3a;
    font-family: "HelveticaNeue";
    font-size: 24px;
    text-align: center;
}
.map-box-contact{
    width: 100%;
}
.map-box-contact img{
    max-width: 100%;

}
.contact-section-box h2{
    margin: 55px 0 30px 0;
    text-transform: uppercase;
    color: #0097ed;
    font-family: "HelveticaNeue";
    font-size: 36px;
    font-weight: 700;
}
.contact-box-form{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 28px;
}
.box-input-button-connection{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    align-items: center;
}
.mistake-form-valid{
    width: 47.5%;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
}
.mistake-form-valid input{
    border: #74bde5 solid 2px;
    padding: 5px;
    background-color: transparent;
    width: 100%;
}
.form-item {
    margin-bottom: 40px;
}
.form-item .error {
    margin-top: 5px;
}
.contact-box-form .mistake-form-valid.textarea {
    display: block;
}
.mistake-form-valid textarea {
    border: #74bde5 solid 2px;
    padding: 5px;
    min-height: 116px;
    max-height: 116px;
    background-color: transparent;
    width: 100%;
}
.box-form{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.rules-help-block{
    display: none;
}
.send-form-connect-two{
    width: 226px;
    height: 41px;
    background: #0097ed;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
    margin: -11px auto -3px;
}
.text-height-form-input{
    height: 105px;
}


/*partners*/

.blue-title-two{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    text-transform: uppercase;
    color: #0097ed;
    font-family: "HelveticaNeueBold";
    font-size: 30px;
    font-weight: 700;
}
/*.owl-nav{*/
/*    display: none;*/
/*}*/





@media (max-width: 1200px) {
    .contact-text-box p {
        font-size: 18px;
    }
}


@media (max-width: 1024px) {
    .copyright {
        margin-top: 0;
        width: auto;
        position: relative;
    }
    .img-main-section{
        width: 100%;
        height: 400px;
        overflow:hidden;
    }
    .img-main-section img{
        size: auto;
        width: auto;
        height: 100%;
        margin-left: -400px;
    }
}
@media (max-width: 768px){
    .contact-text-box p {
        font-size: 16px;
    }
    .contact-section-box h2 {
        margin: 40px 0 0 0;
        font-size: 30px;
    }
    /*.owl-prev:before {*/
    /*    left: -20px;*/
    /*}*/
    /*.owl-next:before {*/
    /*    right: -20px;*/
    /*}*/
    /*.owl-carousel .owl-stage-outer {*/
    /*    max-width: 100%;*/
    /*}*/
}
@media (max-width: 767px){
    .contact-text-box p {
        font-size: 15px;
    }
    .owl-carousel.owl-loaded{
        margin-bottom: 0;
    }
    .goodsItem-produkt a {
        display: block;
    }
    .contact-section-box h2 {
        font-size: 25px;
    }
    .mistake-form-valid input {
        margin-bottom: 15px;
    }
    .box-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mistake-form-valid,
    .mistake-form-valid:last-child{
        width: 100%;
        margin-right: 0;
    }
    .send-form-connect-two {
        margin: 15px auto -3px;
    }
    .contact-section-box {
        margin: 0 0 20px 0;
    }
    .contact-text-box{
        flex-direction: column;
    }
}
@media (max-width: 480px){
    .footer {
        height: 360px;
    }
    .goodsItem-produkt a img {
        width: 100%;
        height: auto;
    }
    .error {
        color: #e1504e;
        font-weight: bold;
        margin: 0;
    }
    .form-item {
        margin-bottom: 15px;
    }
    .mistake-form-valid textarea {
        border: #74bde5 solid 2px;
        padding: 5px;
        min-height: 116px;
        max-height: 116px;
        background-color: transparent;
        margin-bottom: 10px;
    }.mistake-form-valid input {
         margin-bottom: 10px;
     }
    .contact-section-box h2 {
        font-size: 25px;
        text-align: center;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    .goodsItem-produkt a img{
         margin-left: 0;
         margin: 0 auto;
         display: block;
     }
    .goodsItem-produkt a {
        display: block;
    }
    .copyright {
        margin-top: 30px;
        width: auto;
        position: relative;
    }.golden-produkt-img img{
         width: 100%;
     }
    .img-main-section {
        width: 100%;
        height: 250px;
        overflow: hidden;
    }
    .mistake-form-valid{
        width: 100%;
    }

    .contact-box-form{
        padding: 0;
    }

    .contact-section-box{
        width: 90%;
    }
    .golden-produkt-text p {
        font-size: 16px;
        margin-bottom: 12px;
    }
}
@media (max-width: 375px) {
    .goodsItem img {
        width: 100%;
    }
    .copyright {
        margin-top: 27px;
        width: auto;
        position: relative;
    }
    .owlItem.left{
        background-position-x:320px;
    }


    .catalog.slider-wrap, .catalog .owlItem {
        overflow: hidden;
        height: 270px;
    }
}







































